

<div class="container pt-3">
  <div class="container mt-3 w-25">
    <h2 class="text-success text-uppercase text-center m-2"><%= @cocktail.name %></h2>
      <div class="container d-flex justify-content-center">
        <p><%= image_tag @cocktail.photo, height: 250, width: 250, crop: :fill, class: "rounded center" %></p>
      </div>
      <br>
      <div class="form">
        <%= simple_form_for([ @cocktail, @dose ]) do |form| %>
          <%= form.association :ingredient %>
          <%= form.input :description %>
          <%= form.button :submit, class: "btn btn-primary" %>
          <span class="pl-3"><%= link_to "Home", cocktails_path, class: "text-decoration-none" %></span>
        <% end %>
      </div>
  </div>
</div>

<div class="containner p-3 mt-4">
<div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-content-stretch">
          <div class="card m-2" style="width: 50vw;">
            <div class="card-body">
              <strong><p class="card-title pb-3">Ingredient</p></strong>
              <% @cocktail.doses.each do |dose| %>
                <p class="card-text"><%= dose.ingredient.name %></p>
              <% end %> 
            </div>
          </div>

          <div class="card m-2" style="width: 50vw;">
            <div class="card-body">
              <strong><p class="card-title pb-3">Description</p></strong>
              <% @cocktail.doses.each do |dose| %>
                <p class="card-text"><%= dose.description %></p>
              <% end %> 
            </div>
          </div>

          <div class="card m-2" style="width: 25vw;">
            <div class="card-body">
              <strong><p class="card-title pb-3">Delete</p></strong>
                <% @cocktail.doses.each do |dose| %>
                  <p class="card-text"></p>
                    <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                <% end %> 
            </div>
          </div>
      </div>
    </div>
</div>
</div>
